<center><a href="/"><h1>Agregar Instrumento</h1></a></center>

<form method="POST">
    <center><label for="nombre">Nombre</label></center>
    <center><input type="text" id="nombre" name="nombre" placeholder="Nombre"></center>
    <br>
    <center><label for="marca">Marca</label></center>
    <center><input type="marca" id="marca" name="marca" placeholder="marca"></center>
    <br>
    <center><label for="modelo">Modelo</label></center>
    <center><input type="modelo" id="modelo" name="modelo" placeholder="modelo"></center>
    <br>
    <center><label for="color">Color</label></center>
    <center><input type="color" id="color" name="color" placeholder="color"></center>
    <br>    
        <center><button type="submit" class="btn btn-primary">Agregar</button></center>
</form>